<!DOCTYPE html>
<html>
	<head>
	<title>Reddit Flair Detector</title>
	<style>
		.navbar{
			top: 0;
			width: 100%;
			min-height: 50px;
		}
		.grad{
			background: linear-gradient(to right bottom, #00FFF3, #1A00FF);
		}
		.center {
  		display: block;
  		margin-left: auto;
 		margin-right: auto;
  		width: 50%;
		}
    	input[type=url]{
    		width:60%;
    	}
	</style>
	</head>

	<body>
		<div class = 'grad' padding=16dp>
		<div class='navbar'>
			<div class='container'>
			<font color = #FFFFFF>
			<br>
			<br>
			<h1 align='center'>Reddit Flair Detector</h1>
			</font>
			</div>
		</div>
		<div class='container'>
		<font color = #FFFFFF align='center'>
			<br>
			<br>
			<br>
			<h3>Enter a Reddit Post URL from the sub-reddit r/India:</h3>
			<form action="{{url_for('flairDetect')}}" method="post">
				<input type="url" name="redditpost">
				<input type="submit">
			</form>
			<br>
			<br>
			<h3> Predicted Flair for the given Reddit URL: <b><i><u>{{ flair }}</u></i></b>
			</h3>
			
			<br>
			<hr>
			<br>

			<h2> Here are some interesting plots obtained on analysing the data
			</h2>
			<br>
			<br>
			<img src="/static/images/upvotes per flair.png" class = "center" width = 400 height = 400>	
			<br>
			<br>
			<img src="/static/images/words in body 2.png" class = "center" width = 400 height = 400>
			<br>
			<br>
			<img src="/static/images/comments per flair.png" class = "center" width = 400 height = 400>	
			<br>
			<br>
			<img src="/static/images/upvote ratio per flair.png" class = "center" width = 400 height = 400>		
			<br>
			<br>
			<img src="/static/images/words in title.png" class = "center" width = 400 height = 400>	
			<br>
			<br>	
		</font>
		</div>
	</div>
	</body>
</html>